.cara-img{
    height: 900px;
}

@media screen and (max-width: 450px) {
    .cara-img{
        height: 300px;
    }
  }

@media only screen and (max-width: 1000px) and (min-width: 780px) {
    .cara-img{
        height: 500px;
    }
}
@media only screen and (max-width: 750px) and (min-width: 480px) {
    .cara-img{
        height: 500px;
    }
}
