.container-fluid{
    background-color: grey;
}
.card{
    border: 5px solid grey ;
    border-radius: 12px;
}
.card-img-top{
    height: 300px;
    margin-top: 10px;
    border-radius: 12px;
    
}
.top-right{
    position: absolute; 
    top: 8px; right: 16px;
    color: green;
}